
BODY {

  margin: 0;
  padding: 0;
  background-color: #123;
  overflow: hidden;
}

.component-container {
  height: 50vh;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;

}

.component {
  border: 1px #aaaaaa solid;
  background-color: rgba(255, 255, 255, .3);
  height: inherit; // honors and scrolls content as necessary

  margin: 0 auto;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;

  .userInput {
    flex-grow: 0;
    text-align: center;

    INPUT.input {

      color: #ffeeaa;
      font-size: 2rem;
      background-color: rgba(1, 2, 3, .4);
      border: 0;

      // should use a mixin..
      &::input-placeholder {
        color: rgba(255, 255, 255, .2);
      }
      &::-moz-input-placeholder {
        color: rgba(255, 255, 255, .2);
      }
      &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, .2);
      }
    }

    BUTTON.action {

      font-size: 2rem;
      border-radius: 1rem;
      border: 0.2rem #333 solid;
      padding: 0.4rem;
    }

  }

  .output {
    overflow: auto;
    // flow the images in a horizontal mode
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    overflow-y: auto;
    flex-basis: 100vw;
    //flex-grow: 1;
    color: #ccc;

    // ------- states of the output box -------------

    // empty container
    &:not(.active) {
      border: 2px rgba(1, 1, 1, .5) solid;
      background: rgba(128, 128, 128, .5);
    }

    &.active {
      border: 2px #00ffff solid;
    }

    // ********** photo gallery item definitions

    .item {
      padding: 1rem;
      width: 200px; // sizing constraints
      .photo {
        // img asset
        IMG {
          width: 100%; // nice fit
          border: 0.2rem rgba(0, 0, 0, .5) solid;
          border-radius: 0.5rem;
          transition: all 0.5s;
          transition-timing-function: ease-in-out;

        }

        // --- photo transitions :: fun animation when moving over an image ----
        &:hover {

          IMG {
            transform: rotate(5deg);
            transition: all 0.5s;
            transition-timing-function: ease-in-out;

          }

        }

      }

      .title {

        // text node
        SPAN {
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          -webkit-box-orient: vertical;
        }

      }

    }

    // sub components

    //intro text

    .introduction {
      background-color: rgba(255, 255, 255, .1);
      padding: 2rem;
      font-size: 1.5rem;
      width: 100%;
      text-align: center;
      display:flex;
      align-self: center;
      justify-content: center;

    }

  }

}

